<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
<!--menu-nav-->
{% include "menu-nav.njk" %}
<!--menu-nav-->

<!-- carousel -->
<!--{% include "carousel.njk" %}
<!-- carousel -->
</container>

<!-- footer-header here  -->
{% include "footer-header.njk" %}
<!-- footer-header here  -->
</body>
</html>