<!--nav-->
{% include "nav.njk" %}

<div class="container-fluid td-outer">
  <div class="td-main">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
        <div id="td-sidebar-menu" class="td-sidebar__inner">

          <form class="td-sidebar__search d-flex align-items-center">
            <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation"></button>
          </form>

          <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">

            <ul class="td-sidebar-nav__section pr-md-3">
              <li class="td-sidebar-nav__section-title">
                <a href="/posts/" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">All Blogs</a>
              </li>
              <ul>
                <li class="collapse show" id="blog">
                  <ul class="td-sidebar-nav__section pr-md-3">
                    <li class="td-sidebar-nav__section-title">
                      <a href="{{ url }}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ title }}</a>
                    </li>
                    <ul>
                      <!--<li class="collapse show" id="blogreleases">
                        <a class="td-sidebar-link td-sidebar-link__page " id="m-blog20200229-v100-release" href="/blog">All Blogs</a>
                      </li>-->
                    </ul>
                    </ul>
                  </li>
              </ul>
          </ul>
        </nav>
      </div>
    </div>
  <!--blog-right-->
  <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
    <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
    <!-- User Details and Profile-->
      <img class="card-img-right flex-auto d-none d-lg-block" src="{{ profileimage }}" data-holder-rendered="true" style="padding: 10px; width: 160px; height: 160px; border-radius: 810%;" alt="Avatar">
&nbsp;&nbsp;&nbsp;&nbsp;{{ author }} <br>
{{profiletext}}
</div>
  </div>
  <main class="col-12 col-md-9 col-xl-8 pl-md-5 pr-md-4" role="main">
    <div class="row">
      <div class="col-12">
        <h2>{{ title }}</h2>
        <h6>
          <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        </h6>
        <ul class="list-unstyled mt-4">
          <li class="media mb-4">
            <div class="media-body">

              {{ content | safe }}

            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pl-2 pt-2">
      <div class="col"></div>
    </div>
  </main>
</div>
</div>
<!-- footer   -->
{% include "footer.njk" %}