<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
<!--nav-->
{% include "nav.njk" %}

<!-- blog -->
<div class="row mb-2">
  {{ content | safe  }}
</div>

</container>

<!-- footer here  -->
{% include "footer.njk" %}
</body>
</html>
