
<section class="row td-box td-box--primary position-relative td-box--gradient td-box--height-auto">

	<div class="container text-center">
		<span class="h4 mb-0">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      avcs © 2020
    </div>
    <!-- Copyright -->
		</span>
	</div>
</section>

  <head>
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css?v=1">
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AVCS</title>
  </head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js"></script>
  <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
  <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#ff9933',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
  <script>
    window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
</body>
</html>