
<!-- nav  -->
{% include "nav.njk" %}


<!--Front Intro-->
<link rel="preload" as="image" href="/img/sunrise.jpg" media="(max-width: 1200px)">
<link rel="preload" as="image" href="/img/sunrise.jpg" media="(min-width: 1200px)">
<style>
#td-cover-block-0 {
    background-image: url(/img/sunrise.jpg);
}
@media only screen and (min-width: 1200px) {
    #td-cover-block-0 {
        background-image: url(/img/sunrise.jpg);
    }
}
</style>
<section id="td-cover-block-0" class="row td-cover-block td-cover-block--height-full js-td-cover td-overlay td-overlay--dark -bg-red">
  <div class="container td-overlay__inner">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1 class="display-1 mt-0 mt-md-5 pb-4">WELCOME TO AVCS</h1>
          <div class="pt-3 lead">
            <div class="mx-auto">
<!--	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs/">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4">
		Download <i class="fab fa-github ml-2 "></i>
	</a>-->
	<p class="lead mt-5">AV Consulting is a community driven, independent, security and performance engineering solution provider.</p>
<p>Our focus is to design and facilitate the best technology practices to deliver exceptional outcomes.</p>
<p><a class="btn btn-link text-info" href="#td-block-1"><i class="fa fa-chevron-circle-down" style="font-size: 400%"></i></a></p>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Front Intro-->

<!--Intro tringl-->

<section id="td-block-1" class="row td-box td-box--primary position-relative td-box--gradient td-box--height-auto">

	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
&nbsp;
			<p>We are group of experienced technologist who strives to provide solutions to your tech issues through engineering and partnership.</p>
&nbsp;
		</span>
	</div>
</section>
<p>&nbsp;</p>
<!--Intro tringl-->

<!--Services-->

<section class="row td-box td-box--white td-box--gradient td-box--height-auto">
	<div class="col">
		<div class="row ">
<a style="color: inherit;" href="/services/performance-testing" title="Performance Testing Services">
<div class="col-lg-4 mb-5 mb-lg-0 text-center ">
  <div class="mb-4 h1">
    <i class="fas fa-expand"></i>
  </div>
<h4 class="h3">Performance Testing</h4>
  <p class="mb-0"></p><p>We Provide Performance Testing Services.</p>
</a>
<p></p>
</div>
<p></p>

<a style="color: inherit;" href="/services/performance-monitoring" title="Performance Monitoring Services">
<div class="col-lg-4 mb-5 mb-lg-0 text-center ">
  <div class="mb-4 h1">
    <i class="fas fa-bolt"></i>
  </div>
  <h4 class="h3">Performance Monitoring</h4>
  <p class="mb-0"></p><p>We Provide Performance Monitoring Services.</p>
<p></p>
<a/>
</div>
<p></p>
<a style="color: inherit;" href="/services/identity-access-n-security" title="Identity Access & Security Services">
<div class="col-lg-4 mb-5 mb-lg-0 text-center ">
  <div class="mb-4 h1">
    <i class="fas fa-chart-line"></i>
  </div>
  <h4 class="h3">Identity Access & Security</h4>
  <p class="mb-0"></p><p>We provide Identity Access & Security Services.</p>
<p></p>
</a>
</div>
<p></p>
<a style="color: inherit;" href="/services/cloud" title="Cloud Migration and Automation Services">
<div class="col-lg-4 mb-5 mb-lg-0 text-center ">
  <div class="mb-4 h1">
    <i class="fas fa-puzzle-piece"></i>
  </div>
  <h4 class="h3">Cloud</h4>
  <p class="mb-0"></p><p>We help AWS and Azure migrations and provide maintenence services.</p>
<p></p>
</a>
</div>
<p></p>
<a style="color: inherit;" href="/services/blockchain" title="Block Chain Solutions">
<div class="col-lg-4 mb-5 mb-lg-0 text-center ">
  <div class="mb-4 h1">
    <i class="fas fa-rocket"></i>
  </div>
  <h4 class="h3">BlockChain</h4>
  <p class="mb-0"></p><p>We can help you in building Block Chain solutions.</p>
<p></p>
</a>
</div>
<p></p>
<a style="color: inherit;" href="/services/ci-cd-cm" title="DevOps & CI/CD/CM Solutions">
<div class="col-lg-4 mb-5 mb-lg-0 text-center ">
  <div class="mb-4 h1">
    <i class="fas fa-cubes"></i>
  </div>
  <h4 class="h3">CI/CD/CM</h4>
  <p class="mb-0"></p><p>We provide services in CI/CD and CM.</p>
<p></p>
</a>
</div>

		</div>
	</div>
</section>

<!--Services-->

{{ content | safe }}

<!-- footer   -->
{% include "footer.njk" %}
