<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
      <header class="blog-header py-3">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-2 pt-1">
            <img src="/img/Y.png" loading="lazy" class="avatar" alt="AVCS.DEV Logo" style="width: 100%;max-width: 60px;">
          </div>
          <div class="justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="https://avcs.dev/"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <!--
                  <li class="nav-item active">
                    <a class="nav-link" href="#">
                      <span class="sr-only">(current)</span>Home </a>
                  </li>
                  -->

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Professional Services by us
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/performance-testing-services">Performance Testing Services</a>
                      <a class="dropdown-item" href="/performance-monitoring-services">Performance Monitoring Services</a>
                      <a class="dropdown-item" href="/identity-access-n-security">Identity Access & Security</a>
                      <a class="dropdown-item" href="/cloud">Cloud</a>
                    </div>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/posts">Blogs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/careers">Careers</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
