<!DOCTYPE html>
<html lang="en">
<body style="overflow-x: hidden; min-height: 600px">
<!--nav-->
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark td-navbar-cover flex-column flex-md-row td-navbar navbar-bg-onscroll--fade navbar-bg-onscroll">
        <a class="navbar-brand" href="/">
		<span class="navbar-logo"></span><span class="text-lowercase font-weight-bold">{avcs}.dev()</span>
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="/professional-services/"><span>Services</span></a>
			</li>
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="/posts/"><span>Blog</span></a>
			</li>
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="/contact-us/"><span>Contact Us</span></a>
			</li>
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="/careers/"><span>Careers</span></a>
			</li>
		</ul>
	</div>
	<div class="navbar-nav d-none d-lg-block">
</div>
</nav>

<!--nav-->
