<!--nav-->
{% include "nav.njk" %}
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container" style="min-height:540px">

<!-- blog -->
<div class="row mb-2">
  {{ content | safe  }}
</div>

</div>
<!-- footer here  -->
{% include "footer.njk" %}